## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
columns_to_drop = ['EIN', 'NAME']
application_df = application_df.drop(columns=columns_to_drop)

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()

print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()

print(app_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 100

application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_filtered = classification_counts[classification_counts > 1]

# Display the filtered value counts
print(classification_counts_filtered)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value for classifications to be replaced
cutoff_value = 1000  # You can adjust this value based on your preference

# Get value counts of CLASSIFICATION column
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced with 'Other'
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace the classifications with 'Other' in the DataFrame
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classifications_to_replace, "Other")

# Check the value counts after binning
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION','INCOME_AMT','ORGANIZATION', 'USE_CASE','SPECIAL_CONSIDERATIONS', 'CLASSIFICATION'])

# Display the first few rows of the modified DataFrame
print(application_df.head(25))

    STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0        1      5000              1                       0
1        1    108590              1                       0
2        1      5000              0                       0
3        1      6692              1                       0
4        1    142590              1                       0
5        1      5000              1                       0
6        1     31452              1                       0
7        1   7508025              1                       0
8        1     94389              1                       0
9        1      5000              0                       0
10       1     69656              0                       0
11       1    165593              0                       0
12       1      5000              1                       0
13       1      5301              1                       0
14       1      5000              1                       0
15       1      5000              1                       0
16       1      5000              1                       0
17       1  86380556              0                       0
18       1      5000              0                       0
19       1    376109              0                       0
20       1      5000              1                       0
21       1      5000              1                       0
22       1    318296              0                       0
23       1      5000              0                       0
24       1      5000              0                       0

    APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                      1                     0                    0
1                      0                     0                    1
2                      0                     0                    0
3                      0                     0                    1
4                      0                     0                    1
5                      0                     0                    1
6                      0                     0                    1
7                      0                     0                    1
8                      0                     0                    0
9                      0                     0                    0
10                     0                     0                    1
11                     0                     0                    1
12                     0                     0                    1
13                     0                     0                    1
14                     0                     0                    1
15                     0                     0                    1
16                     0                     0                    1
17                     0                     0                    1
18                     0                     0                    1
19                     0                     0                    1
20                     0                     0                    0
21                     0                     0                    1
22                     0                     0                    1
23                     0                     0                    0
24                     0                     0                    1

    APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                     0                    0                    0  ...
1                     0                    0                    0  ...
2                     0                    1                    0  ...
3                     0                    0                    0  ...
4                     0                    0                    0  ...
5                     0                    0                    0  ...
6                     0                    0                    0  ...
7                     0                    0                    0  ...
8                     0                    0                    0  ...
9                     0                    1                    0  ...
10                    0                    0                    0  ...
11                    0                    0                    0  ...
12                    0                    0                    0  ...
13                    0                    0                    0  ...
14                    0                    0                    0  ...
15                    0                    0                    0  ...
16                    0                    0                    0  ...
17                    0                    0                    0  ...
18                    0                    0                    0  ...
19                    0                    0                    0  ...
20                    1                    0                    0  ...
21                    0                    0                    0  ...
22                    0                    0                    0  ...
23                    1                    0                    0  ...
24                    0                    0                    0  ...

    USE_CASE_Preservation  USE_CASE_ProductDev  SPECIAL_CONSIDERATIONS_N  \
0                       0                    1                         1
1                       1                    0                         1
2                       0                    1                         1
3                       1                    0                         1
4                       0                    0                         1
5                       1                    0                         1
6                       1                    0                         1
7                       1                    0                         1
8                       0                    1                         1
9                       0                    1                         1
10                      1                    0                         1
11                      1                    0                         1
12                      1                    0                         1
13                      1                    0                         1
14                      1                    0                         1
15                      1                    0                         1
16                      1                    0                         1
17                      0                    0                         1
18                      1                    0                         1
19                      1                    0                         1
20                      0                    1                         1
21                      1                    0                         1
22                      1                    0                         1
23                      0                    1                         1
24                      1                    0                         1

    SPECIAL_CONSIDERATIONS_Y  CLASSIFICATION_C1000  CLASSIFICATION_C1200  \
0                          0                     1                     0
1                          0                     0                     0
2                          0                     0                     0
3                          0                     0                     0
4                          0                     1                     0
5                          0                     0                     1
6                          0                     1                     0
7                          0                     0                     0
8                          0                     1                     0
9                          0                     0                     0
10                         0                     0                     1
11                         0                     0                     0
12                         0                     0                     1
13                         0                     0                     0
14                         0                     1                     0
15                         0                     0                     1
16                         0                     0                     0
17                         0                     1                     0
18                         0                     1                     0
19                         0                     1                     0
20                         0                     0                     0
21                         0                     0                     1
22                         0                     0                     0
23                         0                     0                     0
24                         0                     0                     1

    CLASSIFICATION_C2000  CLASSIFICATION_C2100  CLASSIFICATION_C3000  \
0                      0                     0                     0
1                      1                     0                     0
2                      0                     0                     1
3                      1                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      1                     0                     0
8                      0                     0                     0
9                      0                     0                     1
10                     0                     0                     0
11                     1                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     1                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     1
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     1
24                     0                     0                     0

    CLASSIFICATION_Other
0                      0
1                      0
2                      0
3                      0
4                      0
5                      0
6                      0
7                      0
8                      0
9                      0
10                     0
11                     0
12                     0
13                     1
14                     0
15                     0
16                     0
17                     0
18                     0
19                     0
20                     0
21                     0
22                     1
23                     0
24                     0

[25 rows x 45 columns]

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Input(shape=(X_train_scaled.shape[1],)))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 80)                3600

 dense_19 (Dense)            (None, 30)                2430

 dense_20 (Dense)            (None, 1)                 31

=================================================================
Total params: 6,061
Trainable params: 6,061
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50
858/858 [==============================] - 5s 4ms/step - loss: 0.5691 - accuracy: 0.7235
Epoch 2/50
858/858 [==============================] - 3s 4ms/step - loss: 0.5543 - accuracy: 0.7298
Epoch 3/50
858/858 [==============================] - 3s 3ms/step - loss: 0.5512 - accuracy: 0.7309
Epoch 4/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7324
Epoch 5/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7329
Epoch 6/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7330
Epoch 7/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7343
Epoch 8/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7345
Epoch 9/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7342
Epoch 10/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7337
Epoch 11/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7349
Epoch 12/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7349
Epoch 13/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7355
Epoch 14/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7349
Epoch 15/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7350
Epoch 16/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7356
Epoch 17/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7357
Epoch 18/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7348
Epoch 19/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7367
Epoch 20/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7369
Epoch 21/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7376
Epoch 22/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7349
Epoch 23/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7376
Epoch 24/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7360
Epoch 25/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7369
Epoch 26/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7381
Epoch 27/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7373
Epoch 28/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7379
Epoch 29/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7378
Epoch 30/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7367
Epoch 31/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7381
Epoch 32/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7380
Epoch 33/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7396
Epoch 34/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7383
Epoch 35/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7393
Epoch 36/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7377
Epoch 37/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7384
Epoch 38/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7390
Epoch 39/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7387
Epoch 40/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7385
Epoch 41/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7379
Epoch 42/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7388
Epoch 43/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7380
Epoch 44/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7395
Epoch 45/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7383
Epoch 46/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7391
Epoch 47/50
858/858 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 48/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7381
Epoch 49/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 50/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7396

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5596 - accuracy: 0.7251 - 585ms/epoch - 3ms/step
Loss: 0.5595974922180176, Accuracy: 0.7250728607177734

In [24]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")